@model IEnumerable<AthenaAuth.Models.Group_User>

@{
    ViewData["Title"] = "ChooseGroup";
}

<h1>Choose Group</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group.GroupName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="ChooseTemplate" asp-route-id="@item.Group.GroupId">
                    @Html.DisplayFor(modelItem => item.Group.GroupName)
                </a>
            </td> 
        </tr>
}
    </tbody>
</table>
