
@{
    ViewData["Title"] = "Lab has ended";
}
<style>
    #end-message {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-top: 1em
    }


</style>


<h2 id="end-message">This Lab has been ended.</h2>

