@model IEnumerable<Athena.Models.Template>

@{
    ViewData["Title"] = "ChooseTemplate";
}

<h1>Choose a lab</h1>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Create" asp-action="Template" asp-route-id="@item.Path">
                    @Html.DisplayFor(modelItem => item.Path)
                </a>
            </td>
        </tr>
    }
</table>
    <!--generate the list from the database-->
    <!--ChooseTemplate view -> CreateController Template action -> -->
