
@{
    ViewData["Title"] = "Main";
}
<h1>@ViewData["Title"]</h1>

<a asp-area="" asp-controller="Create" asp-action="Index">Create New Lab</a>
<!--<a href="https://localhost:44378/Create">Create New Lab link</a>-->

