
<script>
    window.open("http://192.168.99.101:31000", "Popup", "width=400,height=400");
    //"servicename.namespace.domainname"
    function confirm_alert(node) {
        return confirm("Are you sure you want to end this lab?");
    }
</script>


<!--
<input type="button" value="Toggle Service" onclick="history.go(0)" />
-->

<button onClick="window.location.reload();">Toggle Service</button>

<table>
@foreach (var item in ViewBag.IPADD)
{
    <tr>
        <td>
            @item
        </td>
        
    </tr>
}
</table>

<a asp-controller="EndLab" asp-action="Index" onclick="return confirm_alert(this);">
      End Lab
</a>
