
<script>
    window.open("http://192.168.99.101:31977", "Popup", "width=400,height=400");
    //"servicename.namespace.domainname"
</script>


@{
    ViewData["Title"] = "View Lab";
}


<!--
<iframe src="http://192.168.99.101:31977" width="600" height="400"></iframe>
-->
<a asp-controller="EndLab" asp-action="Index">
    End Lab
</a>