
<script>
    window.open("http://192.168.99.101:31000", "Popup", "width=400,height=400");
    //"servicename.namespace.domainname"
</script>



<input type="button" value="Toggle Service" onclick="history.go(0)" />


<a asp-controller="EndLab" asp-action="Index">
    End Lab
</a>
