<!--
<script>
    window.location.href = 'https://www.google.com';
    $(document).ready(function () {
        alert("Test");
        $("#term").load("https://www.w3schools.com");
    });
</script>
    <script>
    window.open("https://www.w3schools.com");
    window.open("servicename.namespace.domainname");
</script>
-->

@model IEnumerable<Athena.Models.User>

@{
    ViewData["Title"] = "Log in";
}
<div id="term">
    <h2>Click to load new content inside DIV box</h2>
</div>
<form asp-controller="Main" asp-action="Index" method="post">
    <input type="text" placeholder="Enter UserId" name="UserId" required>
    <button type="submit">Login</button>
</form>
<iframe src="http://192.168.99.101:30192/" width="600" height="400"></iframe>

<!--
<a href="~/helloworld.html">link</a>
<a href=https://www.w3schools.com>link</a>
<iframe src="http://192.168.99.101:31364" width="600" height="400"></iframe>
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="Main" asp-action="Index">Log in</a>
    <!--<a href="https://localhost:44378/Login">Log in link</a>
        </div>
        -->