<!--
<script>
    window.location.href = 'https://www.google.com';
    $(document).ready(function () {
        alert("Test");
        $("#term").load("https://www.w3schools.com");

    });
</script>
    <script>
    window.open("https://www.w3schools.com");
    window.open("servicename.namespace.domainname");
</script>
-->

@model IEnumerable<Athena.Models.User>

@{
    ViewData["Title"] = "Log in";
}

<form asp-controller="Main" asp-action="Index" method="post">
    <input type="text" placeholder="Enter UserId" name="UserId" required>
    <button type="submit">Login</button>
</form>


