@{
    ViewData["Title"] = "Main";
}
<h1>@ViewData["Title"]</h1>
<!--
<p>Use this page to detail your site's privacy policy.</p>
-->

<a asp-area="" asp-controller="Lable" asp-action="Index">Create New Lab</a>
<a href="https://localhost:44378/Label">Create New Lab link</a>
