@model AthenaAuth.Models.Template

@{
    ViewData["Title"] = "Create";
}
<style>
    .square {
        width: 900px;
        height: 200px;
        margin: 0 auto;
        background-color: darksalmon;
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: darkred;
        border-style: solid
    }
    #warn {
        justify-content: right;
        float: right;
        display:flex;
        width: 500px
    }
</style>
    
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemplateName" class="control-label"></label>
                <input asp-for="TemplateName" class="form-control" />
                <span asp-validation-for="TemplateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lab" class="control-label"></label>
                <input asp-for="Lab" class="form-control" />
                <span asp-validation-for="Lab" class="text-danger"></span>
            </div>
            <div class="form-group" id="warn">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div id="warn">
    <h5>Reminder</h5>
    <h6>
        1. The Template root should contain the following folders: Deployment, Service, Ingress, NetworkPolicy <br />
        2. The Path value should be correct. (Templates\\"YourTemplateFolderName"\\) <br />
        3. The Lab value should be the same as the value for 'labels: lab:' in the YAML file for the Template files.
    </h6>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
